<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title> {% block title %}SwimDB{% endblock %}</title>

        <!-- BOOTSTRAP -->
		<!-- The following are to get boostrap 4 to work, along with optional functionality of boostrap such as table highlighting-->
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>	
        
        <!-- Our custom imports-->
        <script src="/static/swimDB.js"></script>

        <!-- jQuery for ajax-->
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

        
        {% endblock %}
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }} </li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}    

        {% block body %}

        {% endblock %}
    </body>
</html>